<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <div class="header">
        <img src="static/Frame 25.svg" alt="Logo">
        <div class="status">
            <img src="static/Group 12.svg" alt="Status">
        </div>
    </div>
    <div class="content">
        <p>ยังไม่มีรายงานในขณะนี้</p>
    <footer>   
        <img class="icon" src="static/home.svg">
        <img class="icon" src="static/map-pin.svg">
        <img class="icon" src="static/info.svg">
    </footer>

<script>
  const ws = new WebSocket("ws://localhost:3000");

  ws.onmessage = (event) => {
    const data = JSON.parse(event.data);
    
    alert("พบการเพิ่ม Node ใหม่ใน Database!");

    const div = document.getElementById("log");
    div.innerHTML += `
      <p><b>New Node:</b> ${JSON.stringify(data)}</p>
    `;
  };
</script>
</body>
</html>