<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>

    <title>Detail</title>
</head>
<body>
    <div class="header">
        <img src="/static/Frame-25.svg" alt="Logo">
        <div class="status">
            <img id="logo" src="/static/Group-12.svg" alt="Status">
        </div>
    <div class="container">
        <div id="map"></div>
        <div class="detail-card">
            <div class="header-info" id="toggleDetail">
                <h3>รายละเอียด</h3>
                <img id="chevron" src="static/chevron-down.svg">
            </div>
            <div id="detailContent">
                <p>ระยะโดยประมาณ: <span id="distance"></span> เมตร</p>
                <p>วันที่แจ้งเหตุ: <span id="date"></span></p>
                <p>เวลาที่แจ้งเหตุ: <span id="time"></span></p>
            </div>
    </div>

     <button class="call">รายงานการพบเห็น</button>


    <div class="footer">   
        <img class="icon" src="/static/home.svg">
        <img class="icon-big" src="/static/map-pin.svg">
        <img class="icon" src="/static/info.svg">
    </div>
<style>
    #map {
    width: 100%;
    height: 300px;
    border-radius: 12px;
    }
</style>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="detail.js"></script>

</body>
</html>