<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Home</title>
</head>
<body>
    <div class="header">
        <img src="/static/Frame-25.svg" alt="Logo">
        <div class="status">
            <img id="logo" src="/static/Group-12.svg" alt="Status">
        </div>
    </div>
    <div class="log-content">
        <div id="log">
            <p class="status">ยังไม่มีการการรายงานในขณะนี้</p>
            <!---
            <div class="log-container" onclick="goDetail('693bef6fa5a5d3687d65c922')">
                <h5>⚠️ มีผู้ส่งสัญญาณขอความช่วยเหลือใกล้คุณ</h5> 
                <hr>
                <p>time : ${JSON.stringify(data.time)}</p>
                <div class="row-container">
                    <p>date : ${JSON.stringify(data.date)}</p>
                    <button>ดูรายละเอียด</button>
                </div>
            </div>
            --->

        </div>
        </div>

    </div>
    <div class="footer">   
        <img class="icon-big" src="/static/home.svg">
        <img style="opacity: 0.5;" class="icon" src="/static/map-pin.svg">
        <img onclick="window.location.href='/info'" class="icon" src="/static/info.svg">
    </div>
<script src="index.js">
</script>
</body>
</html>