html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-block: 15px;
    padding-left: 20px;
    background-color: #FF383C;
    height: 5vh;
    position: fixed;
    width: 100%;
    z-index:100; ;

}
.footer {
    height: 5vh;
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    padding-block: 10px;
    bottom: 0;
    left: 0;
    box-shadow: 1px -2px 3px rgba(0, 0, 0, 0.1);
}

.icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon-big {
    height: 30px;
    width: 30px;
}
.log-content {
    height: 100%;
    display: flex;
    justify-content: center;;
    align-items: center;
    font-size: 24px;
    color: #aaaaaa;
    align-items: baseline;
    padding-top: 10vh;
    
}
#log {
width: 100%;
word-wrap: break-word;
padding-block: 20px;


}

#log p {
    margin-block: 0;
    font-size: 16px;
}
#log h5 {
    margin-block: 0;
    font-size: 16px;
    color: rgb(255, 0, 0);
}

.log-container {
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    margin-inline: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.log-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

hr {
    margin-top: 10px;
    margin-bottom: 30px;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: transparent;
    color: rgb(255, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: underline;
    font-weight: 600;
}
.status {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px !important;
}

.containerr {
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline: 20px;
    gap: 50px;
}

.call {
    background-color: #ffa7a9;
    color: white;
    padding: 10px 20px;
    margin-top:50px ;
    position: fixed;
    bottom: 85px;    
    width: calc(100% - 40px);
    cursor:unset;
}
.detail-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.detail-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.detail-card p {
    margin: 5px 0;
    font-size: 16px;
    color: #7b7b7b;
}

.header-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-info img {
    cursor: pointer;
}

#detailContent {
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.hidden {
  display: none;
}

#chevron {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.log-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
}

.log-img-container img {
    max-width: 100%;
    height: auto;
    border: 2px solid #e3e3e3;
    border-radius: 5px;
    padding: 5px;
    margin-block: 5px;
    cursor: pointer;
    margin-inline: 20px;
}

.hide {
  display: none !important;
}


.show {
  display:flex;
}
.popup {
    position: fixed;
    z-index: 1000;
    width: auto;
    max-height: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    border: 2px solid #e3e3e3;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    box-shadow: 1px -2px 3px rgba(0, 0, 0, 0.1);

}

@media (max-width: 600px) {
    .popup {
        width: 80%;
        height: auto;
        overflow-y: auto;
    }
}
@media (max-height: 700px) {
    .popup {
        max-height: 70%;
        overflow-y: auto;
    }
}

.popup img {
    max-width: 100%;
}

li {
    margin-block: 10px;
}

.discription {
    font-size: small;
    color: #555;
    margin-top: 10px;
    text-align: center;
    padding-inline: 20px;
    margin-bottom: 10px;
}

ul {
    padding-inline: 25px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(7px);
    z-index: 999;
}

.close-button {
    background-color: #ff383c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}